* {
  box-sizing: inherit;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
}

@keyframes aniPost {
  from {
    transform: translateY(50px);
    opacity: 0.5;
  }
  to {
      transform: translateY(0px);
      opacity: 1;
  }
}

.WebApp {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

.nav__list-item .active {
  background-color: rgba(250, 235, 215, 0.123);
}



.App-link {
  color: #61dafb;
}

.Header__nav {
  position: fixed;
  top: 0;
  display: flex;
  background: #101215;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.Header__logo {
  max-height: 54px;
  max-width: auto;
  margin: 0 10px;
}

.nav__list {
  display: flex;
  width: 70%;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.nav__list-item {
  display: block;
  list-style: none;
  width: 20%;
  font-size: 1.7rem;
  font-weight: 700;
  text-transform: uppercase;
  height: 100%;
  cursor: pointer;
  position: relative;
  text-align: center;
}



.nav__list-item::before {
  content: '';
  position: absolute;
  background-color: #2bade9cc;;
  height: 3px;
  width: 0px;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.nav__list-item:hover::before {
  width: 50%;
  transform: translateX(50%);
}

.nav__list-item a {
  display: block;
  width: 100%;
  line-height: 70px;
  text-decoration: none;
  color: tan;
  line-height: 70px;
  margin: 0 auto;
  
}

.HeaderSlide__Bg {
  position: relative;
  justify-content: center;
  align-items: center;
  background-image: url(https://cdn.vn.garenanow.com/web/lol-product/LOLwebsite/img/blurred1.jpg);
  padding-top: 40%;
  margin-top: 70px;
  max-height: 500px;
  background-repeat: no-repeat;
  padding-bottom: -200px;
}

.HeaderSlide__Bg-Img {
  max-height: 87%;
}

.swiper-slide-active {
  display: flex;
}

.swiper-slide {
  justify-content: center;
}

.swiper-pointer-events {
  height: 460px;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.swiper-horizontal>.swiper-scrollbar {
  display: none;
}

.swiper-slide .swiper-slide-active {
  width: 700px !important;
}

.swiper-pagination-bullet {
  font-size: 3rem;
}

.HeaderSlide__inner {
  position: absolute;
  top: 46px;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  
}

.HeaderSlide__inner-stroke {
  position: absolute;
  stroke:aliceblue;
  z-index: 9;
  pointer-events: none;
  fill: none;
  top: -6px;
  right: 10px;
  left: 10px;
}


.swiper-pagination-bullet {
  background-color: #2bade9cc !important;
  width: 1.2rem !important;
  height: 1.2rem !important;
}

/* animation header */

.box{
  
  height: 50rem;
  max-width: 120rem;
  margin: 0 auto;
}
.box svg{
  z-index:10;
  pointer-events:none
}
.box svg:first-child {
  position:absolute;
  top: -10px;
  left: 7px;
  width:1200px;
  height:420px;
}
.box svg:first-child path {
  fill:none;
  stroke:#c2c1c1;
  stroke-width:1px;
  stroke-linecap:round;
  stroke-dasharray:3240;
  -webkit-animation:svgAnimation3240 2.5s ease 1 backwards;
  animation:svgAnimation3240 2.5s ease 1 backwards
}
@media (max-width: 1000px) {
  .box svg:first-child {
    display: none;
  }
}
.box svg:nth-child(2) {
  display:none;
  position:absolute;
  top:0;
  left:150px;
  width: 900px;
  height:360px;
}
.box svg:nth-child(2) path {
  fill:none;
  stroke:#c2c1c1;
  stroke-width:1px;
  stroke-linecap:round;
  stroke-dasharray:2452;
  -webkit-animation:svgAnimation2452 2.5s ease 1 backwards;
  animation:svgAnimation2452 2.5s ease 1 backwards
}
@media screen and (max-width:999px) {
  .box svg:nth-child(2) {
    display:block
  }
}
@media screen and (max-width:740px) {
  .box svg:nth-child(2) {
    display:none
  }
}
.box svg:nth-child(3) {
  display:none;
  position:absolute;
  top:0;
  left:378px;
  width:440px;
  height:180px;
}
.box svg:nth-child(3) path {
  fill:none;
  stroke:#c2c1c1;
  stroke-width:1px;
  stroke-linecap:round;
  stroke-dasharray:1840;
  -webkit-animation:svgAnimation1840 2.5s ease 1 backwards;
  animation:svgAnimation1840 2.5s ease 1 backwards
}
@media screen and (max-width:750px) {
  .box svg:nth-child(3) {
    display:block
  }
}
@-webkit-keyframes svgAnimation3240 {
  0% {
    stroke-dashoffset:3240
  }

  to {
    stroke-dashoffset:0
  }
}
@keyframes svgAnimation3240 {
  0% {
    stroke-dashoffset:3240
  }

  to {
    stroke-dashoffset:0
  }
}
@-webkit-keyframes svgAnimation2452 {
  0% {
    stroke-dashoffset:2452
  }

  to {
    stroke-dashoffset:0
  }
}
@keyframes svgAnimation2452 {
  0% {
    stroke-dashoffset:2452
  }

  to {
    stroke-dashoffset:0
  }
}
@-webkit-keyframes svgAnimation1840 {
  0% {
    stroke-dashoffset:1840
  }

  to {
    stroke-dashoffset:0
  }
}
@keyframes svgAnimation1840 {
  0% {
    stroke-dashoffset:1840
  }

  to {
    stroke-dashoffset:0
  }
}

.Container__input {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.Container__input-input {
  font-size: 2rem;
  border: none;
  outline: none;
}

.Container__input-input, input::placeholder {
  text-align: center;
}

.Container__input-all {
  display: flex;
  position: relative;
  border: 1px solid #6465688a;
  border-radius: 5px;
  width: 350px;
  height: 40px;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 0.5px #bdb6b670;
}

.Container__input-icon {
  font-size: 2.6rem;
  color: tan;
}


.New__item {
  position: relative;
  height: 446px;
  cursor: pointer;
  margin: 20px -10px;
  box-shadow: 2px 2.5px 3px 1px #72747abd;
  animation: aniPost 1s ease-out;
  overflow: hidden;
  background-color: #fff;
    -moz-animation: aniPost 1s ease-out;
    -webkit-animation: aniPost 1s ease-out;
}

.Item__img {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #59595e7e;
}

.figure {
  width: 335.99px;
  height: 200px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}

.figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.New__item:hover .Item__img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.New__item:hover {
  transform: translateY(-3px);
  transition: all .2s ease-in-out;
}

.Item__test {
  margin: auto 8px;
  height: 180px;
}

.Item__test-p1 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #4db4f0;
}

.Item__test-h2 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  color: #30333a;
}

.Item__test-p2 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #6f7275;
}

.Item__test-p3 {
  position: absolute;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #6f7275;
  bottom: 3px;
}

.Container__end-loadmore {
  background-image: url(https://cdn.vn.garenanow.com/web/lol-product/LOLwebsite/img/footer/playForFree.png);
  background-repeat: no-repeat;
  width: 180px;
  height: 50px;
  background-color: #fff;
  cursor: pointer;
  margin: 16px auto 0px auto;
  text-align: center;
}

.Container__end-loadmore-a {
  font-size: 16px;
  font-weight: 450;
  line-height: 50px;
  
}

/* Footer */

.Footer {
  display: block;
  background-color: #101215;
  width: 100%;
  height: 380px;
  color: #fff;
  text-align: center;
}

.Footer__logo {
  width: 100%;
  height: 65px;
  padding-top: 30px;
}

.Footer__text {
  font-size: 1.4rem;
  margin-top: 60px;
  line-height: 1.4rem;
}

.Footer__list {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.Footer__list-item {
  margin: 0 16px;
  font-size: 1.2rem;
  list-style: none;
  cursor: pointer;
}

.Footer__list-item a {
  padding: 0 5px;
}

.Footer__end {
  display: flex;
  justify-content: center;
  margin-top: 36px;
}

.Footer__end-link {
  background-image: url(https://cdn.vn.garenanow.com/web/lol-product/LOLwebsite/img/footer/playForFree.png);
  background-repeat: no-repeat;
  width: 180px;
  height: auto;
  margin-right: 30px;
  cursor: pointer;
}

.Footer__end-link-a {
  font-size: 16px;
  font-weight: 500;
  line-height: 50px;
}

.Footer__end-img {
  height: 50px;
  width: auto;
}
